* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #262626;
}

li {
    /* Remove the bullets */
    list-style: none; 
}

a {
    text-decoration: none;
    color: rgb(255, 220, 220);
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 3rem;
}

.nav-link {
    transition: 0.7s ease;
    font-size: 40px;
}

.nav-link:hover {
    color: rgb(149, 199, 0);
} 

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    height: 3px;
    width: 35px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: antiquewhite;
}

/* Media Queries */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color:#262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        height:max-content;
        padding: 10px;
        transition: 2s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}
